<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->
<%- include('./partials/head', {titulo:'Bookit Arg'}) %> 
<body>
	
	<!-- Header -->
 <!--Header logueado o deslogueado-->

	<% if (locals.user != undefined) { %> 
		<%-include('partials/headerLogeado') %>
	 <% } else { %> 
		<%- include('partials/header') %> 
    <% } %> 
   

	<!-- Banner -->
	<div class="banner">
		<img src="/images/banner.png" alt="Banner principal">
	</div>
	

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title"> Novedades </h2>
			</div>

			<!-- Show the "ultimos" products -->
			<% for ( let i=0 ; i < productos.length; i++) { %>
					<div class="col-12 col-sm-6 col-lg-3">
						<section class="product-box">
	
								<a href="/product/<%= productos[i].id %> "> <img src="<%=productos[i].foto_producto %>" alt="foto"></a>
								</figure>
								<article class="product-box_data">
									<h2 class="producto"> <a href="/product/<%= productos[i].titulo %> "><%= productos[i].titulo %> </h2> </a>
									<p> <%= productos[i].descripcion%> </p>
									<p> Comentarios: <%= productos[i].comentario.length%> </p>
									<p><a href="/users/profile/<%= productos[i].usuario.id_usuario%> "> Creado por: <%= productos[i].usuario.nombre_usuario %> </p> </a>
								</article>
						</section>
					</div>
				<% } %>
		</div>
	</div>
	<!-- footer -->
	<%-include('./partials/footer.ejs')%> 
	<!-- /footer -->
</body>	
</html>