<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->
<%- include('./partials/head') %> 
<body>
	
	<!-- Header -->

	<%-include('./partials/header.ejs') %>

	
	
	<!-- Banner -->
	<div class="banner">
		<img src="/images/img-home-banner.jpg alt="Banner de ofertas">
	</div>
	

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">MÁS POPULARES</h2>
			</div>
			<!-- Show the "ultimos" products -->
			<% for(let i = 0; i < 4; i++) { %> 
			<div class="col-12 col-sm-6 col-lg-3">
				<section class="product-box">
					<a href="/product">
						<figure class="product-box_image">
							<img src="<%= libros[i].imagenProduct %> " alt="Harry Poter: El cádiz de fuego ">
						</figure>
						<article class="product-box_data">
							<h2> <%= libros[i].title %> </h2>
							<p><%= libros[i].description %></p>
						</article>
					</a>
				</section>
			</div>
			<% } %> 
		</div>
	</div>
	<!-- /Novedades -->
	<!-- Más comentados -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">MÁS COMENTADOS</h2>
			</div>
			<!-- Show the "ultimos" products -->
			
			<% for(let i = 4; i < 8; i++) { %> 
			<div class="col-12 col-sm-6 col-lg-3">
				<section class="product-box">
					<a href="/product">
						<figure class="product-box_image">
							<img src="<%= libros[i].imagenProduct %> " alt="Harry Poter: El cádiz de fuego ">
						</figure>
						<article class="product-box_data">
							<h2> <%= libros[i].title %> </h2>
							<p><%= libros[i].description %></p>
						</article>
					</a>
				</section>
			</div>
			<% } %> 
		</div>
	</div>
	
	<!-- footer -->
	<%-include('./partials/footer.ejs')%> 
	<!-- /footer -->
</body>	
</html>